// 103-sort_strings.scss - Sorted
@use "103-sort_list" as list;
@function sort($list) {
  $length: length($list);

  @for $i from 1 through $length {
    @for $j from ($i + 1) through $length {
      $a: nth($list, $i);
      $b: nth($list, $j);

      @if str-insert("", $a, 1) > str-insert("", $b, 1) {
        $temp: $a;
        $list: set-nth($list, $i, $b);
        $list: set-nth($list, $j, $temp);
      }
    }
  }

  @return $list;
}

@function set-nth($list, $n, $value) {
  $result: ();

  @for $i from 1 through length($list) {
    @if $i == $n {
      $result: append($result, $value);
    } @else {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}

$list_sorted: sort(list.$list_to_sort);
@debug $list_sorted;
